<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id=integer %><br />
    <%= f.text_field :user_id=integer %>
  </div>
  <div class="field">
    <%= f.label :post=string %><br />
    <%= f.text_field :post=string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
